

/*Rubik*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    /* colors */
    --white: 0 0% 100%;
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-Blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);

       /* font-sizes */
       --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
       --fs-800: 3.5rem;
       --fs-700: 1.5rem;
       --fs-600: 1rem;
       --fs-500: 1rem;
       --fs-400: 0.9375rem;
       --fs-300: 1rem;
       --fs-200: 0.875rem;

       /* font-families */
       --ff-rubik: "Rubik", serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/*Reset*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picutre {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: var(--ff-rubik);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
}

/*Utility classes*/

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}




.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* colors */

.soft-blue {background-color: var(--soft-blue);}
.soft-red {background-color: var(--soft-red);}
.white {background-color: var(--white);}
.grey-blue {background-color: var(--grayish-Blue);}
.dark-blue{background-color: var(--very-dark-blue);}

.txt-soft-blue {color: var(--soft-blue);}
.txt-dark-blue {color: var(--very-dark-blue);}
.txt-soft-red {color: var(--soft-red);}
.txt-grey-blue {color: var(--grayish-Blue);}
.txt-white {color: var(--white);}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/*Buttons*/

.btn {
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
}

.header {
    margin-top: 25px;
    padding-inline: 2rem;
    justify-content: space-between;
}


@media (max-width: 44.9rem) {
        
    
.header {
   margin-top: 1rem;
    padding-inline: 1rem;
    justify-content: space-between;
}
       
       .navbard {
           display: none;
           
       }

        .logo {
            z-index: 999;
        }
        
       
        
        .burger-menu {
            position: absolute;
            top: 3%;
            right: 5%;
            z-index: 999;
        }

       

        .navbar {
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            right: 0;
            background-color: var(--very-dark-blue);
            opacity: 0.95;
            color: white;
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 30%;
            
          }
       
        .navbar .nav-ul {

            list-style-type: none;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 30%;
            margin-right: 30px;
            
        }

        .nav-li {
            
            border-bottom: 1px #e7e2e2e3 solid;
            padding-bottom: 5px;
            text-align: center;
            margin-bottom: 10px;
        }
        .login {
           
          text-align: center;
          border: 2px solid white;
          border-radius: 5px;
          padding: 8px;
        }

        .socials {
            display: flex;
            gap: 5rem;
            align-self: center;
            
        }
    }



@media (min-width: 45em) {
   
    .navbard {
        margin-top: 20px;
        display: block;
        letter-spacing: 1px;
    }
    .socials {
        display: none;
    }
    .header {
        max-width: 80rem;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .burger-menu {
        display: none;
    }
.navbar {
   display: none;
   
}

.logo {
    margin-top: 15px;
    display: flex;
}

.logo img {
    max-width: 100%;
}

.navbard .nav-ul {
    list-style-type: none;
    justify-content: space-around;
    
}

.nav-li {
    
    margin-right: 15px;
    padding: 5px 15px;
}

.nav-li:hover {
    cursor: pointer;
}
.login {
    margin-right: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: var(--soft-red);
    color: white;
    cursor: pointer;
}
}



    .title {
       margin-top: 35px;
        flex-direction: column;
        gap: 5rem;
        text-align: center;
    }

    @media (min-width: 45rem) {
        .title {
           flex-direction: row-reverse;
        }
    }

.title-image {
        position: relative;
        display: grid;
        align-items: left;
        width: 100%;
        max-width: 100%;
    }


    .image-title {
        z-index: 999;
    
    }

.blue {
    position: absolute;
    z-index: -1;
    justify-self: end;
    width: 75%;
    height: 70%;
    border-end-start-radius: 140px;
    background-color: var(--soft-blue);
    top: 32%;
    right: 0;
}    

@media (min-width: 156rem) {

    .title-image {
        width: 50%;
    }

    .image-title {
        justify-self: center
    }
    .blue {
        top: 32%;
        right: 0;
        width: 55%;
        
    }

    .title-container {
        justify-content: center;
    }
}
.title-btns {
    justify-content: center;
}

.grey {
    background-color: rgb(238, 238, 238);
}

.title-container {
   flex-direction: column;
   gap: 1.3rem;
   padding-inline: 2rem;
}