

/*Rubik*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    /* colors */
    --white: 0 0% 100%;
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-Blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);

       /* font-sizes */
       --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
       --fs-800: 3.5rem;
       --fs-700: 1.5rem;
       --fs-600: 1rem;
       --fs-500: 1rem;
       --fs-400: 0.9375rem;
       --fs-300: 1rem;
       --fs-200: 0.875rem;

       /* font-families */
       --ff-rubik: "Rubik", serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}


/*Reset*/

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picutre {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    font-family: var(--ff-rubik);
    font-size: var(--fs-400);
    line-height: 1.5;
    min-height: 100vh;
}

/*Utility classes*/

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}




.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

/* colors */

.soft-blue {background-color: var(--soft-blue);}
.soft-red {background-color: var(--soft-red);}
.white {background-color: var(--white);}
.grey-blue {background-color: var(--grayish-Blue);}
.dark-blue{background-color: var(--very-dark-blue);}

.txt-soft-blue {color: var(--soft-blue);}
.txt-dark-blue {color: var(--very-dark-blue);}
.txt-soft-red {color: var(--soft-red);}
.txt-grey-blue {color: var(--grayish-Blue);}
.txt-white {color: var(--white);}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

/*Buttons*/

.btn {
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    border: 0;
}

.header {
    margin-top: 25px;
    padding-inline: 2rem;
    justify-content: space-between;
}

.main {
    gap: 4.5rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

@media (min-width: 45em) {
    .main {
        margin-bottom: 18rem;
    }
}

@media (max-width: 44.9rem) {
        
    
.header {
   margin-top: 1rem;
    padding-inline: 1rem;
    justify-content: space-between;
}
       
       .navbard {
           display: none;
           
       }

        .logo {
            z-index: 999;
        }
        
       
        
        .burger-menu {
            position: absolute;
            top: 3%;
            right: 5%;
            z-index: 999;
        }

       

        .navbar {
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            right: 0;
            background-color: var(--very-dark-blue);
            opacity: 0.95;
            color: white;
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 30%;
            
          }
       
        .navbar .nav-ul {

            list-style-type: none;
            justify-content: space-around;
            flex-direction: column;
            margin-top: 30%;
            margin-right: 30px;
            
        }

        .nav-li {
            
            border-bottom: 1px #e7e2e2e3 solid;
            padding-bottom: 5px;
            text-align: center;
            margin-bottom: 10px;
        }
        .login {
           
          text-align: center;
          border: 2px solid white;
          border-radius: 5px;
          padding: 8px;
        }

        .socials {
            display: flex;
            gap: 5rem;
            align-self: center;
            
        }
    }
    .nav-li:hover {
        color: var(--soft-red);
    }

    .login:hover {
        border: 1px solid var(--soft-red);
        background-color: white;
        color: var(--soft-red);
    }


@media (min-width: 45em) {
   
    .navbard {
        margin-top: 20px;
        display: block;
        letter-spacing: 1px;
    }
    .socials {
        display: none;
    }
    .header {
        max-width: 80rem;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .burger-menu {
        display: none;
    }
.navbar {
   display: none;
   
}

.logo {
    margin-top: 15px;
    display: block;
    align-self: center;
}

.logo img {
    max-width: 100%;
}



.navbard .nav-ul {
    list-style-type: none;
    justify-content: space-around;
    
}

.nav-li {
    
    margin-right: 15px;
    padding: 5px 15px;
}


.nav-li:hover {
    cursor: pointer;
}
.login {
    margin-right: 10px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: var(--soft-red);
    color: white;
    cursor: pointer;
}
}



    .title {
       margin-top: 35px;
        flex-direction: column;
        gap: 5rem;
        text-align: center;
        line-height: 2rem;
        letter-spacing: 0.3px;
    }

     p {
        width: 80%;
        margin: 0 auto;
    }

    @media (min-width: 45rem) {
        .title {
           flex-direction: row-reverse;
        }
    }

.title-image {
        position: relative;
        display: grid;
        align-items: left;
        width: 100%;
        max-width: 100%;
    }


    .image-title {
        z-index: -1;
    
    }

.blue {
    position: absolute;
    z-index: -1;
    justify-self: end;
    width: 75%;
    height: 70%;
    border-end-start-radius: 140px;
    background-color: var(--soft-blue);
    top: 32%;
    right: 0;
}    

@media (min-width: 156rem) {

    .title-image {
        width: 50%;
    }

    .image-title {
        justify-self: center
    }
    .blue {
        top: 32%;
        right: 0;
        width: 55%;
        
    }

    .title-container {
        justify-content: center;
    }
}
.title-btns {
    justify-content: center;
}

.grey {
    background-color: rgb(238, 238, 238);
}

.title-container {
   flex-direction: column;
   gap: 1.3rem;
   padding-inline: 2rem;
}

.getChrome {
    color: white;
}
@media (min-width: 45em) {
    .getChrome:hover {
        border: 1px solid var(--soft-blue);
        color: var(--soft-blue);
        background-color: white;
    }
    
    .getFirefox:hover {
        border: 1px solid var(--grayish-Blue);
        color: var(--grayish-Blue);
        background-color: white;
    }

}



.features {
    padding-inline: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.features-intro {
    margin-bottom: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.5px;
}
.tabs {
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-top: 1px solid rgba(236, 240, 241, 1);
    padding: 1rem 0;
}

.tabs div {
    padding: 1.3rem 0;
    border-bottom: 1px solid rgba(236, 240, 241, 1);
    align-items: center;
    justify-content: center;
    position: relative;
}


 .tabs .tab::before {
    margin: 0 auto;
    width: 32%;
    justify-self: center;
    position: absolute;
  background: linear-gradient(to right, red 30%,red 50px);
  text-align: center;
  height: 5px;
  content: '';
  opacity: 0.7;
  bottom: 0;
  right: 0;
  left: 0;
}
.last-tab {
    border-bottom: 1px solid rgba(236, 240, 241, 1);
    padding-bottom: 2rem;
    padding-top: 1.5rem;
   
} 

.last-tab h3 {
    padding-bottom: 0.8rem;
} 


.tab1, .tab2, .tab3 {
    position: relative;
  
}

@media (min-width: 45em) {
    .tabs {
        flex-direction: row;
        justify-content: space-evenly;
      
    }

    .tabs .tab::before {
        width: 100%;
    }

    .tabs {
        border-top:0;
        padding-inline: 15%;
    }
    
    .tabs div {
        border-bottom: 1px solid rgba(236, 240, 241, 1);
        width: 100%;
    
    }

    .tabs div h3 {
        font-size: 1.2rem;
    }

    .features-intro {
        padding-inline: 25%;
    }
}




.tabs-sections {
    margin-top: -5rem;
    margin-bottom: 2rem;
}

.tab1, 
.tab2, 
.tab3 {
    padding: 0;
    width: 100%;
    position: relative;
    gap: 5rem;
}

@media (min-width: 45em) {
    .tabh3:hover {
        color: var(--soft-red);
     }
}

.tab-iamge {
    position: relative;
    width: 100%;
    padding: 0;
    
}

.image-title {
   align-self: center;
   justify-self: center;
   width: 80%;
   margin: 0 auto;
}

.blue-tap {
    position: absolute;
    z-index: -1;
    justify-self: end;
    width: 75%;
    height: 80%;
    border-end-end-radius: 140px;
    background-color: var(--soft-blue);
    top: 35%;
    left: 0;
}

.tab-text {
    padding-inline: 3rem;
    text-align: center;
}
.tab-text > .btn {
    display: none;
}

@media (min-width: 45em) {
    .tab1, 
    .tab2, 
    .tab3 {
       grid-template-columns: 1fr 1fr;
       padding-right: 2.5rem;
    }

    .tab-text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: left;
        text-align: left;
       align-self: center;
        
    }

    .tab-text p {
        width: 100%;
        justify-self: start;
        align-self: left;
    }

    .tab-text  .btn {
        display: block;
      width: 35%;
      border-radius: 5px;
      height: 15%;
      font-size: 0.8rem;
      padding: 1rem 1.5rem;
      border-radius: 10px;
      text-decoration: none;
      border: 0;
    }

   
}

.tab-text p {
    line-height: 2rem;
    letter-spacing: 0.5px;
}


.extentions {
    padding-inline: 2rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.extentions-intro {
    margin-bottom: 2.5rem;
}

.extentions-intro p {
    line-height: 2rem;
    letter-spacing: 0.5px;
}

.card {
    width: 95%;
    margin: 0 auto;
    gap: 1.8rem;
    padding: 2.8rem 0;
    box-shadow: 2px 2px 5px 3px rgb(223, 223, 223);
    border-radius: 8px;
    margin-bottom: 1rem;
}


.browser {
display: flex;
justify-content: center;
}



.dots img {
    width: 100%;
}

.add-btn {
    align-self: end;
}

.add-btn .btn {
    width: 80%;
    height: 100%;
    padding: 1.3rem 0;
    font-size: var(--fs-400);
}

@media (min-width: 45em) {


    .extentions {
        padding-inline: 5rem;
    }
    .add-btn .btn {
        width: 90%;
    }

    .extentions-intro {
        width: 50%;
        margin: 0 auto;
    }
    .extentions-cards {
        grid-template-columns: 1fr 1fr 1fr;
        height: 100%;
        padding: 0rem;
        margin-top: 3rem;
    }
  .card {
    width: 95%;
    padding: 6.5rem 0;
  }
    .chrome {
        display: grid;
        align-self: start;
    }
    .firefox {
        align-self: center;
    }

    .opera {
        align-self: end;
    }
}

.add-btn button {
    color: white;
}

@media (min-width: 45em) {
    .add-btn button:hover {
        background-color: white;
        color: var(--soft-blue);
        border: 1px solid var(--soft-blue);
    }
}


.faqs {
    padding-inline: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    width: 100%;
   
    
}

.faqs-intro > h3 {
    line-height: 1.9rem;
}
@media (min-width: 45em) {
    .faqs-intro > h3 {
        line-height:4.5rem;
    }
    .faqs {
     width: 50%;
    margin: 0 auto;
        
    }
}
.faqs-intro > p {
    line-height: 1.6rem;
    letter-spacing: 0.6px;
    width: 100%;
}

@media (min-width: 45em) {
    .qq:hover {
        color: var(--soft-red);
    }
}



.questions {
    margin-top: 1.5rem;
}


.question1 h4,
.question2 h4,
.question3 h4,
.question4 h4 {
    flex: 1;
    text-align: left;
}

.question1, .question2, .question3, .question4 {
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 1rem;
}

.q {
    width: 100%;
    justify-content: space-around;
    
}


.question1 .a > p,
.question2 .a > p,
.question3 .a > p,
.question4 .a > p {
    width: 100%;
    text-align: left;
   padding: 1.5rem 0;
}


.faqs > .btn {
    width: 30%;
    padding: 1rem 0rem;
    margin: 0 auto;
}

.arrow1, .arrow2, .arrow3, .arrow4 {
    display: block;
   
    height: 20%;
    max-width: 100%;
}

.join {
   padding: 3rem;
}

.join-span, .join-title {
    text-align: center;
    z-index: 2;
}
.join > * {
    width: 100%;
}

.email {
    flex-direction: column;
    justify-self: center;
    position: relative;
    z-index: 1;
    
}

@media (min-width: 45em) {
    .email {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        gap: 1.3rem;
    }
}

.email .error {
    position: absolute;
    top: 10px;
    right: 0;
    padding-right: 2rem;
}
.email .errormessage {
    background-color: var(--soft-red);
    height: 90px;
    width: 100%;
   top: 0rem;
   left: 0rem;
   position: absolute;
   z-index: -1;
 
}

#span {
    justify-self: start;
     align-self:flex-end;
     display: grid;
     justify-content: start;
     align-items: flex-end; 
     height: 110%;
     margin-left: 0.8rem;
     opacity: 0.8; 
     font-size: 0.8rem;

}

@media (min-width: 45em) {

    .email {
        margin-top: 2rem;
      
    }

    .email .error {
        position: absolute;
        top: 0.2rem;
        left: 55%;
        
    }

    .email .errormessage {
        background-color: var(--soft-red);
        height: 88px;
        width: 65%;
       top: -0.2rem;
       left: 0;
       position: absolute;
       z-index: -1;
     
    }

    [data-turnon = false] {
        height: 55%;
    }

    [data-turnon = true] {
        height: 100%;
    }

   
}



.email > * {
    flex-direction: column;
    padding: 0.5rem 0;
    padding: 0.8rem 0;
    border-radius: 5px;
}

#email {
    text-align: left;
}
#email::placeholder {
    opacity: 0.7;
    letter-spacing: 1px;
    padding-left: 1rem;
    text-align: left;
}

.email .submit {
  
    display: flex;
    align-items: center;
    border: 0;
}

.footer {
    color: white;
    padding: 3rem;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}



.nav-footer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-left: -0.5rem;
}


.nav-footer .li {
    display: flex;
    justify-content: center;
    text-align: left;
}


.footer-logo{
    filter: invert(0.3) brightness(1.8);
    
}
.footer-links {
    width: 100%;
}
.footer-links > *{
    width: 100%;
}


.nav-footer .li {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding-bottom: 1rem;
    letter-spacing: 0.3rem;
}

.footber-socials  {
    justify-content: space-evenly;
    padding-bottom: 1rem;
    
}


@media (min-width: 45em) {
    .join {
       margin-top: 8rem; 
       padding-inline:30%;
       max-width: 100%;
    }

    .footer {
        padding: 1.5rem 3rem;
        display: flex;
        justify-content: space-between;
    }

    .footer-links {
    flex-direction: row;
    }

    .nav-footer {
        margin-left: 0;
        flex-direction: row;
        width: 50%;
    }
    
    .nav-footer .li {
        padding-bottom: 0;
    }

    .li a {
        font-size: 0.8rem;
    }

    .footer-logo{
        display: grid;
        align-items: center;
    }

    .footber-socials {
        width:12%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;
        margin-bottom: -.8rem;
    }


     .footber-socials > * {
        justify-self: end;
     }
}

@media (min-width: 45em)  {
    .nav-footer .li:hover {
        color: var(--soft-red);
    }
}


